#first {
    background: url("picture_checkOut.jpg");
}

#second {
    background: url("picture_ask.jpg");
}

#three {
    background: url("picture_first.jpg");
}

#itemOne {
    width: 150px;
    height: 50px;
    border:1px solid;
    position: absolute;
    left:100px;
    top:100px;
    border-radius:3px;
}

#itemTwo {
    width: 150px;
    height: 50px;
    border:1px solid;
    position: absolute;
    left:270px;
    top:100px;
    border-radius:3px;
}

#itemThree {
    width: 150px;
    height: 50px;
    border: 1px solid;
    position: absolute;
    left: 430px;
    top: 100px;
    border-radius:3px;
}