h1 {
    font-size:40px;
    font-family: 华文楷体;
    text-align: center;
    color:#000000;
}

p {
    font-size:20px;
    font-family: 微软雅黑;
    text-align: center;
    color: #000000;
}

option{
    font-size:15px;
    font-family: 微软雅黑;
    text-align: center;
    color: #000000;
}

body {
    background: url("picture_blueBackgroundOne.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    background-attachment: fixed;
}

@keyframes toRotateOne
{
    from {transform: rotate(0deg)}
    to {transform: rotate(-20deg)}
}

@keyframes toRotateTwo
{
    from {transform: rotate(-20deg)}
    to {transform: rotate(0deg)}
}

#first {
    width: 120px;
    height: 120px;
    background: url("picture_checkOut.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border: 0 solid;
    border-radius: 60px;
    position: absolute;
    left: 100px;
    top: 450px;
}


#second {
    width: 120px;
    height: 120px;
    background: url("picture_ask.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border:0 solid;
    border-radius:60px;
    position: absolute;
    left:300px;
    top:450px;
}

#textOne {
    position: absolute;
    left: 120px;
    top:560px;
}

#textTwo {
    position: absolute;
    left: 320px;
    top:560px;
}

#itemOne {
    width: 150px;
    height: 50px;
    border:1px solid;
    position: absolute;
    left:100px;
    top:100px;
    border-radius:3px;
}

#itemTwo {
    width: 150px;
    height: 50px;
    border:1px solid;
    position: absolute;
    left:270px;
    top:100px;
    border-radius:3px;
}

#itemThree {
    width: 150px;
    height: 50px;
    border: 1px solid;
    position: absolute;
    left: 430px;
    top: 100px;
    border-radius:3px;
}