#first {
    background: url("picture_checkOut.jpg");
}/*图标1背景*/

#second {
    background: url("picture_ask.jpg");
}/*图标2背景*/

#three {
    background: url("picture_search.jpg");
}/*图标3背景*/

div.items {
    width: 150px;
    height: 50px;
    border:1px solid;
    position: absolute;
    border-radius:3px;
}/*文本框样式*/

#itemOne {
    left:100px;
    top:100px;
}/*文本框1的位置*/

#itemTwo {
    left:270px;
    top:100px;
}/*文本框2的位置*/

#itemThree {
    left: 430px;
    top: 100px;
}/*文本框3的位置*/