div.background {
    width: 600px;
    height: 700px;
}

div.transbox {
    width: 500px;
    height: 700px;
}

#first {
    background: url("picture_enroll.jpg");
}

#second {
    background: url("picture_register.jpg");
}

#three {
    background: url("picture_center.jpg");
}

#four {
    background: url("picture_search.jpg");

}