h1 {
    font-size:40px;
    font-family: 华文楷体;
    text-align: center;
    color:#000000;
}

a {
    font-size:20px;
    font-family: 微软雅黑;
    color:#105cb6;
}

p {
    font-size:20px;
    font-family: 微软雅黑;
    text-align: center;
    color: #000000;
}

body {
    background: url("picture_blueBackgroundOne.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    background-attachment: fixed;
}

@keyframes toRotateOne
{
    from {transform: rotate(0deg)}
    to {transform: rotate(-20deg)}
}

@keyframes toRotateTwo
{
    from {transform: rotate(-20deg)}
    to {transform: rotate(0deg)}
}

#first {
    width: 120px;
    height: 120px;
    background: url("picture_checkOut.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border:0 solid;
    border-radius:60px;
    position: absolute;
    left:100px;
    top:450px;
    cursor: pointer;
}

#second {
    width: 120px;
    height: 120px;
    background: url("picture_ask.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border:0 solid;
    border-radius:60px;
    position: absolute;
    left:300px;
    top:450px;
    cursor: pointer;
}

#three {
    width: 120px;
    height: 120px;
    background: url("picture_id.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border:0 solid;
    border-radius:60px;
    position: absolute;
    left:500px;
    top:450px;
    cursor: pointer;
}

#four {
    width: 120px;
    height: 120px;
    background: url("picture_search.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border:0 solid;
    border-radius:60px;
    position: absolute;
    left:700px;
    top:450px;
    cursor: pointer;
}

#textOne {
    position: absolute;
    left: 120px;
    top:560px;
}

#textTwo {
    position: absolute;
    left: 320px;
    top:560px;
}

#textThree {
    position: absolute;
    left: 520px;
    top:560px;
}

#textFour {
    position: absolute;
    left: 720px;
    top:560px;
}