#first {
    background: url("picture_checkOut.jpg");
}

#second {
    background: url("picture_ask.jpg");
}

#three {
    background: url("picture_center.jpg");
}

#four {
    background: url("picture_search.jpg");
}