form {
    width:320px;
    height:350px;
}

div.background {
    width: 460px;
    height: 450px;
}

div.transbox {
    width: 400px;
    height: 400px;
}

#first {
    background: url("picture_checkOut.jpg");
}

#second {
    background: url("picture_center.jpg");
}

#three {
    background: url("picture_first.jpg");
}