h1 {
    font-size:40px;
    font-family: myFirstFont;
    text-align: center;
    color:#000000;
	font-weight:900;
}

p {
    font-size:20px;
    font-family: 微软雅黑;
    text-align: center;
    color: #000000;
}

form {
	font-family: 微软雅黑;
	font-weight:bold;
}

body {
    background: url("picture_blueBackgroundOne.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    background-attachment: fixed;
}

@keyframes toRotateOne
{
    from {transform: rotate(0deg)}
    to {transform: rotate(-20deg)}
}

@keyframes toRotateTwo
{
    from {transform: rotate(-20deg)}
    to {transform: rotate(0deg)}
}

#first {
    width: 120px;
    height: 120px;
    background: url("picture_checkOut.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
    border:0 solid;
    border-radius:60px;
    position: absolute;
    left:100px;
    top:450px;
}

#second {
     width: 120px;
     height: 120px;
     background: url("picture_id.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 120px 120px;
     border:0 solid;
     border-radius:60px;
     position: absolute; 
     left:300px;
     top:450px; 
 }

#textOne {
    position: absolute;
    left: 120px;
    top:560px;
}

#textTwo {
    position: absolute;
    left: 320px;
    top:560px;
}

div.background {
	background: url("picture_background.jpg");
	width: 460px;
	height: 370px;
	margin:15px;
	border: 0px solid;
	position:absolute;
	left:425px;
	top:150px;
	filter:alpha(opacity=95);
	opacity:0.95;
    border-radius:3px;
}

div.transbox {
	width: 400px;
	height: 320px;
	margin:30px;
	padding:0;
	background-color: #ffffff;
	border: 0px solid;
	filter:alpha(opacity=70);
	opacity:0.7;
    border-radius:3px;
}

div.transbox form {
	margin: 20px 40px;
	color: #000000;
	font:bold 12px 微软雅黑;
	line-height:1.5;
}

input.upLoad {
    width:120px;
    height:30px;
    border:none;
    background:url(picture_login.jpg);
    font-size:20px;
    font-family: Arial;
    text-align: center;
    color:#000000;
    border-radius:3px;
}

input.upLoad:hover{
    width:120px;
    height:30px;
    border:none;
    background:url(picture_login.jpg);
    font-size:20px;
    font-family: Arial;
    text-align: center;
    color:#000000;
    border-radius:3px;
    filter:alpha(opacity=80);
    opacity:0.8;
}

input.search {
    width:200px;
    height:20px;
    border:solid 1px;
    font-size:15px;
    font-family: Arial;
    color:#000000;
    border-radius:3px;
}

textarea {
    border:solid 1px;
    border-radius:3px;
}

@font-face
{
    font-family: myFirstFont;
    src: url('方正瘦金书简体.ttf');
}