form {
    width: 400px;
    height: 160px;
}

#first {
    background: url("picture_checkOut.jpg");
}

#second {
    background: url("picture_center.jpg");
}

#three {
    background: url("picture_first.jpg");
}