form {
    width: 400px;
    height: 160px;
}/*表单长宽*/

#first {
    background: url("picture_checkOut.jpg");
}/*图标1背景*/

#second {
    background: url("picture_center.jpg");
}/*图标2背景*/

#three {
    background: url("picture_search.jpg");
}/*图标3背景*/
