h1 {
    font-size:40px;
    font-family: myFirstFont;
    text-align: center;
    color:#000000;
	font-weight:900;
}

p {
    font-size:20px;
    font-family: 微软雅黑;
    text-align: center;
    color: #000000;
}

body {
    background: url("picture_blueBackgroundOne.jpg"), url("picture_middleBackground.jpg"), url("picture_blueBackgroundTwo.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 200px, 100% 200px, 100% 300px;
    background-position: 0 0, 0 200px, 0 400px;
}

input {
    border-radius:3px;
}

input.upLoad {
    width:120px;
    height:30px;
    border:none;
    background:url(picture_login.jpg);
    font-size:20px;
    font-family: Arial;
    text-align: center;
    color:#000000;
    border-radius:3px;
}

input.upLoad:hover{
    width:120px;
    height:30px;
    border:none;
    background:url(picture_login.jpg);
    font-size:20px;
    font-family: Arial;
    text-align: center;
    color:#000000;
    border-radius:3px;
    filter:alpha(opacity=80);
    opacity:0.8;
}

@font-face
{
    font-family: myFirstFont;
    src: url('方正瘦金书简体.ttf');
}