form {
    width:400px;
    height:160px;
}

img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    border:1px solid;
    border-radius:30px;
    position: absolute;
    left: 480px;
    top: 280px;
}

#first {
    background: url("picture_center.jpg");
}

#second {
    background: url("picture_ask.jpg");
}